<h2 class = "main-header" >Create a new Comment</h2>
<form action='/comments' method="post" accept-charset="utf-8" id='new-comment'>
  <label for='body'>Body</label>
  <input type='text' name='body' id='body'/>
  <label for='author'>Author</label>
  <input type='text' name='author' id='author'/>
  <input type='hidden' name='pid' value ='<%=params["pid"]%>' />

  <input type='submit' name='commit' id='create_post'  />
</form>
