<h2>Create a new Comment</h2>

<form action='/posts' method="post" accept-charset="utf-8" id='new-post'>
  <label for='body'>Body</label>
  <input type='text' name='body' id='body'/>
  <label for='author'>Author</label>
  <input type='text' name='author' id='author'/>

  <input type='submit' name='commit' id='create_post'  />
</form>
