header {
  max-height: 2.5em;
  padding-bottom: .225em;
  margin-top: -.225em;
  background-color: #A7DBDB;
}

body {
  color: #333;
}

h3 {
  border-bottom: 3px solid #A7DBDB;
  margin-bottom: 5px;
}

.main-header {
  width: 10em;
  margin: 0 auto;
  text-align: center;
}

.nav-links {
  color: #5DB89D;
  list-style: none;
  display: inline-block; }

.top-links {
  text-decoration: none;
  color: inherit;
}

.display-list {
  list-style: none;
  padding:0;
}

.nav-links > li {
  display: inline-block;
  margin-right: .5em;
  vertical-align: middle;}

.post-link {
  text-decoration: none;
  color: inherit;
}

.home-container {
    /*width: 20em;*/
    /*margin: 4em;*/
    background: linear-gradient(#FFF, #FFF, #F7EAC8);
    border-radius: 0px 0px 40px 0;
}

.home-title {
  text-align: center;
  width: 10em
}

.home-author {
  text-align: left;
  width: 20em;
  margin: 0 auto;
  font-size: 9px;
  color: #999;
}

.home-body {
  width: 20em;
  margin: 1.3em auto;
}

.show-post {
    background: linear-gradient(#FFF, #FFF, #F7EAC8);
    border-radius: 0px 0px 40px 0;
}

.individual-body {
  width: 20em;
  margin: 0 auto 2em auto;
}

.show-comments {
    background: linear-gradient(#FFF, #FFF, #F7EAC8);
    border-radius: 0px 0px 40px 0;
}

.comment-list {
  width: 20em;
  margin: 1em auto;
  padding: 0;
  list-style: none;
}

.edit-button {
  text-align: center;
  margin: 0 auto;
  font-size: 9px;
  color: #999;
}

input {
  line-height: normal;
  margin: 0 auto;
  display: block;
  margin-bottom: 1em;
}

input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px;
    background:none;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: .5em;
    font-size: .5em;
}

textarea {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 25em;
    height: 19.25em;
    display: block;
    margin: 0 auto;
}

textarea:focus {
    border-color:#333;
}

.edit-post {
  text-decoration: none;
  color: black;
}

.edit-title {
  margin: 0 auto;
  width: 5em;
  display: block;
  text-align: center;
}

.edit-author {
  margin: 0 auto;
  width: 5em;
  display: block;
  text-align: center;
}

.edit-body {
  margin: 0 auto;
  width: 5em;
  display: block;
  text-align: center;
}

.add-comment {
  list-style: none;
  margin-top: .5em;
  text-align: center;
}

.add-comment-link {
  text-decoration: none;
  color: #5DB89D;
}

input[type=submit].submit-button {
  font-size: 1em;
}

.show-individual {
  background: linear-gradient(#FFF, #FFF, #F7EAC8);
}

@media (min-width: 450px) {
  .home-container {
    width: 95%;
    overflow: hidden;
    float: left;
    margin-right: 2.5em;
  }}

@media (min-width: 800px) {
  .home-container{
  border-radius: 0px 0px 40px 40px;
  width: 45%;
  overflow: hidden;
  float: left;
  margin-right: 2.5em;
}}
