header {
  max-height: 2.5em;
  padding-bottom: .225em;
  margin-top: -.225em;
  /*background-color: #A7DBDB;*/
}

body {
  /*background-color: #F7EAC8;*/
  /*color: #5DB89D;*/
  color: #333;
}

h3 {
  border-bottom: 3px solid #A7DBDB;
  margin-bottom: 5px;
}

.main-header {
  width: 10em;
  margin: 0 auto;
  text-align: center;
}

.nav-links {
  color: #5DB89D;
  list-style: none;
  display: inline-block; }

.top-links {
  text-decoration: none;
  color: inherit;
}

.display-list {
  list-style: none;
  padding:0;
}

.nav-links > li {
  display: inline-block;
  margin-right: .5em;
  vertical-align: middle;}

.post-link {
  text-decoration: none;
  color: inherit;
}

.home-container {
    /*width: 20em;*/
    /*margin: 4em;*/
    background: linear-gradient(#FFF, #FFF, #F7EAC8);
    border-radius: 0px 0px 40px 0;
}

.home-title {
  text-align: center;
  width: 10em
}

.home-author {
  text-align: left;
  width: 20em;
  margin: 0 auto;
  font-size: 9px;
  color: #999;
}

.home-body {
  width: 20em;
  margin: 1.3em auto;
}

.individual-body {
  width: 20em;
  margin: 0 auto 2em auto;
}

.comment-list {
  width: 20em;
  margin: 1em auto;
}

.edit-button {
  text-align: center;
}

.edit-post {
  text-decoration: none;
  color: black;
}

.add-comment {
  list-style: none;
  margin-top: .5em;
  text-align: center;
}

.add-comment-link {
  text-decoration: none;
  color: #5DB89D;
}
